.top-main{
  background-color: avar(--color-primary);
}
.youtub-form{
    border-style: groove;
    border-color: var(--color-primary);
    min-width: 250px;
    max-width: 100%;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    padding:1rem;
    
    input{
        margin:2rem 0;
    }
   
    border-radius: 0.25rem;
}
.card{
    margin-top: 50px;
}
.youtube-header{
    color: white;
    margin-top: 10px;
    width: 80%;
    padding: 20px;
    background-color: var(--color-primary);
    border-radius: 25% 10%;
    border: 2px solid #000;
    text-align: center;
}

      
      .btn:hover {
        transform: scale(0.8);
      }

.center-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Adjust to your needs */
  }
.main-section{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    height:300px;

}
.sections{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    border-style: ridge;
    border-color:var(--color-primary);
    text-align: center;
    margin-top: 30px;
    width:max(80%,376px);
}

   
    pre{
        white-space: pre-line;
    }

.last-heading{
    color: yellow;
    background-color:var(--color-primary);
    height: 50px;
}
span{
    font-weight: bold;
    color: #000;
}
.content{
    padding: 15px;
    font-family: 'teko','Courier New', Courier, monospace;
    font-weight: bold;
}
.bottom{
    background-color: antiquewhite;
    text-align: center;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;

}
.heading{
    padding: 20px;
}
.btn{
    //background-color: blue;
    padding: 10px;
    margin: 10px;
}

.content1{
    border-style: groove;
    border-color: blue;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card-header{
    background-color: var(--color-primary);
}
.row section{
    margin-top: 50px;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    display: flex;
}
