<div class="top-main">
<div class="center-container">
<div class="youtube-header">
   <h3>Youtube Auto Liker & Auto Subscriber</h3>
<p> tool to grow your youtube channel reach by increasing your subscribers and video likes.</p>
</div>
</div>
<div class="main-section">
    <div class="youtub-form" *ngIf="!isLoggedIn">
        <h3 class="form-header">Enter your youtube Channel Id</h3>
        <input class="form-control" [(ngModel)]="channelId"/>
        <button class="btn btn-primary" (click)="register()">Search</button>
    </div>
</div>
</div>