<div class=" mb-4 border mt-2 p-2" *ngIf="createOrder">
    <ng-container *ngIf="!orderId">
        <div class="enter-name">
            <input class="animated pulse infinite" [(ngModel)]="name" type="name" required="" maxlength="50" name="n"
                placeholder="👉 यहाँ पर अपना नाम लिखो .."><br>
            <button class="btn animated shake infinite" (click)="addNewOrder()" type="submit"><span>👉</span> देखे
            </button>
        </div>

    </ng-container>

    <ng-container *ngIf="orderId">
        <ng-container *ngIf="waiting">
            <div class="animated creating text-center">आपका लिंक तैयार हो रहा है</div>
        </ng-container>
        <ng-container *ngIf="!waiting">
            <div class="d-flex flex-column">
                <h4 class="text-center">Your Url</h4>
                <textarea #copyTextToClipboard class="box"
                    style="background-color: black; color: yellow;text-align: center;" [(ngModel)]="url"
                    type="text"></textarea><br />

                <div class="d-flex justify-content-between">
                    <input class="btn first  resultbtn mt-2" type="button" (click)="share()" value="सबको भेजे">
                    <button class="btn resultbtn  mt-2" type="button" (click)="copyLink()" value="सबको भेजे">
                        <ng-container *ngIf="!copied"> Copy</ng-container>
                        <ng-container *ngIf="copied"> Copied</ng-container>
                    </button>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
<ng-container *ngIf="false">
    <div class="d-flex justify-content-center">
        <div style="position: relative;">
            <p class="top-head"><span class="title">Happy Navratri</span><br>
                <span class="body">
                    लक्ष्मी का हाथ हो, सरस्वती का साथ हो !
                    गणेश का निवास हो, और माँ दुर्गा के आशीर्वाद से,
                    आपके जीवन में प्रकश, ही प्रकाश हो !!
                </span>
            </p>
            <div class="relative">
                <video width="320" height="240" [autoplay]="true" [loop]="true" controls>
                    <source src="../../../../../assets/video/New.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
                <p class="bottom-head"> <span class="title">{{name}}</span><br>
                    <span class="body"> की तरफ़ से आपको और आपके पूरे परिवार को नवरात्री की ढेर
                        सारी शुभकामनायें </span>
                </p>
            </div>
        </div>
    </div>
    <div class="sharebutton">
        <a (click)="createOrder=true">Send With Your Name</a>
    </div>
</ng-container>
<ng-container>
    <app-diwali [userName]="name"></app-diwali>
</ng-container>
<div class="sharebutton" (click)="createOrder=true">
    👉अपने नाम से भेजे
</div>