<div class="container">
    <div id="about" class="card mt-4  border-danger">
        <div class="card-header item">
            <h1>About Us</h1>
        </div>
        <div class="card-body">
            <h2 class="card-title fs20 font-weight-bold"> Great Tech Tools</h2>
        </div>
        <div>
            <p class="margin">

                Welcome to My Great Tech Tools, your one-stop website for all your digital tool needs.<br />
                We specialize in creating innovative and user-friendly tools to help you navigate the digital world with
                ease.<br />
                Our team of experts is dedicated to providing you with the latest and greatest tools to help you stay
                ahead of the game.<br />
                From tools to prank you friends to tools that can increase your likes on social media platforms like
                Instagram, Tiktok and YouTube, we've got you covered.<br />
                We understand the importance of privacy and security in today's digital age, which is why we ensure that
                all of our tools are safe and secure to use.<br />
                We also pride ourselves on providing exceptional customer service and support, so if you ever have any
                questions or concerns, please don't hesitate to reach out to us.<br />
                Thank you for choosing Great Tech Tools. We look forward to helping you take your digital game to the next
                level. </p>
        </div>
    </div>
</div>