.item{
    background-color: var(--color-primary);
    color: yellow;
    text-align: center;
    //margin-top: 15px;
}
.heading{
    border-style: groove;
    border-color: red;
}
.margin{
    padding: 25px;
}
