.showAtBottom {
  position: fixed;
  bottom: 70px;
  width: 100%;
  padding: 10px;
  input {
    background-color: red;
    border-radius: 10px;
  }
  button {
    border-radius: 10px;
    background-color: green;
  }
}
