<div class="d-flex justify-content-between p-3">
    <h2>Dashboard</h2>
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
                <span class="red-text">{{loggedInAs}}</span> <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
    
        </ul>
      </div>
  
</div>

<div class="d-flex flex-wrap tools-strip justify-content-center">
    <button class="btn other-button m-2" [ngClass]="earnCredit?'btn-primary':'other-button'" (click)="earnCredits()">Earn Credit</button>
    <button class="btn other-button m-2" [ngClass]="isPlaceOrder?'btn-primary':'other-button'" (click)="openPlaceOrder()">Place Order</button>
    <button class="btn other-button m-2" [ngClass]="isPlaceOrder?'btn-primary':'other-button'" (click)="openViewOrder()">check Order Status</button>
    <button class="btn other-button m-2" [ngClass]="isPlaceOrder?'btn-primary':'other-button'">Dashboard</button>
</div>
<div class="text-center mt-3 mb-3"><h2>TotalCredit: <label class="red-text">{{userDetails.credits}}</label></h2></div>

<div class=" channel-sug-box" *ngIf="earnCredit">
   <p class="content"> Earn <span class="red-text">2</span> Credit by subscribing <span class="red-text">{{currentChannel.userName}}</span></p>

    <div class="d-flex flex-wrap  mt-3 justify-content-between">
        <button type="button" class="btn btn-danger m-2" (click)="subscribe()">Subscribe</button>
        <button type="button"class="btn btn-warn m-2" (click)="updateCredit()">update remaining Credit</button>
    </div>
</div>
<div class="place-order"*ngIf="isPlaceOrder||viewOrder">
    <table  class="table">
      <thead class="thead-light">
        <tr>
            <th>
                Serial No.
            </th>
            <th>
               Order Source
            </th>
            <th>
               No Of Subscriber
             </th>
             <th>
                Required Credit
             </th>
             <th>
                {{isPlaceOrder?'':'Status'}}
             </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="isPlaceOrder">
            <td>
                1.
            </td>
            <td>
               Youtube
            </td>
            <td>
                <input name="no_of_subscriber" class="form-control" (change)="calculateCredit($event)" [(ngModel)]="no_of_subscriber" type="number"/>
             </td>
             <td>
                {{required_credit}}
             </td>
             <td class="borderless">
                <button class="btn btn-primary" (click)="placeOrder()">Submit</button>
             </td>
        </tr>
        <ng-container *ngIf="viewOrder"></ng-container>
        <tr *ngFor="let order of userOrders;let i=index">
            <td>
            {{i+1}}
            </td>
            <td>
               {{order.source}}
            </td>
            <td>
                {{order.credits/2}}
             </td>
             <td>
                {{order.credits}}
             </td>
             <td>{{order.status}}</td>
        </tr>
    </tbody>
    </table>
</div>
<div>
   <h4> How to grow your channel?</h4>
<p class="para">Instead of spending lots of time searching "How To Increase Youtube Subscribers?". We provide you, with them for free, which can work as a booster for your channel and save you lots of time. To boost your channel you need some credits. Credits can be earned by giving likes and subscribing to other users on-site on the earn credits page. After that, 
those credits can be used to boost your channel on the boost channel page.</p>
</div>
