.tools-strip{
    border: 1px solid blue;
    padding: .5rem;
    margin: 1rem 2rem;
}
.channel-sug-box{
    margin-left: 30%;
    border: 1px solid red;
    padding:2rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}