<section id="main" >
<h2>Welcome to Great Tools </h2>
<h3 class="heading">where you can grow your youtube channel by helping the community.</h3>

<div class="row mt-4 justify-content-around">
    <div class="col-md-4 col-sm-12 tools"> 
      <h3>Increase  Youtube Subscriber</h3>
    <p>You can get lots of likes and subscribers on youtube, by using this tool.
       You can grow your channel from scratch.</p>
       <button class="button"><a routerLink="../youtube">Open Tool</a></button>
    </div>
    <div class="col-md-4 col-sm-12 tools">
     <h3>Instagram</h3>
     <p>This web application can help you increase your Instagram likes and followers.
       You can exchange likes & followers manually using this app.</p>
       <button class="button">Open Tool</button> 
    </div>
    <div class="col-md-4 col-sm-12 tools">
      <h3>Facebook</h3>
      <p>This web application can help you increase your Facebook likes and followers.
        You can exchange likes & followers manually using this app.</p>
        <button class="button">Open Tool</button> 
    </div>
    <div class="last_line">
      If you have any suggestions, new tools requests, or bugs, please contact us.
    </div>

</div>
</section>