<section id="main">
  <h2>Welcome to Great Tech Tools </h2>
  <h3 class="heading text-center">where you can grow your youtube channel by helping the community.</h3>

  <div class="row mt-4 justify-content-around">
    <div class="col-md-3 col-sm-12 tools">
      <h3 class="link-title">Increase <span> Youtube </span> Subscriber</h3>

      <p>You can get lots of likes and subscribers on youtube, by using this tool.
        You can grow your channel from scratch.</p>
      <button class="button" routerLink="../youtube"> Open Tool</button>
    </div>
    <div class="col-md-3 col-sm-12 tools">
      <h3 class="link-title">Youtube Tag Extractor</h3>

      <p>You can get tags from any video link. check out this tag extractor tool</p>
      <button class="button" routerLink="../tagextractor"> Open Tool</button>
    </div>
    <div class="col-md-3 col-sm-12 tools">
      <h3 class="link-title">Youtube Thumbnail Extractor</h3>

      <p>You can get Thumbnail from any video link. check out this Thumbnail extractor tool</p>
      <button class="button" routerLink="../thumbnailExtractor"> Open Tool</button>
    </div>
    <div class="col-md-3 col-sm-12 tools">
      <h3 class="link-title">Increase <span> Youtube </span> Views</h3>

      <p>You can run your videos multiple times in one screen . Just copy your video url and paste it.</p>
      <button class="button" routerLink="../increaseViews"> Open Tool</button>
    </div>
    <div class="col-md-3 col-sm-12 tools">
      <h3 class="link-title">Send Happy Diwali</h3>

      <p>Use this to wish your loved ones Happy Diwali with your own name and customization.</p>
      <button class="button" routerLink="../happyDiwali">Open Tool</button>
    </div>
    <div class="col-md-3 col-sm-12 tools">
      <h3 class="link-title">Instagram</h3>

      <p>This web application can help you increase your Instagram likes and followers.
        You can exchange likes & followers manually using this app.</p>
      <button class="button">Open Tool</button>
    </div>
    <div class="col-md-3 col-sm-12 tools">
      <h3 class="link-title">Facebook</h3>

      <p>This web application can help you increase your Facebook likes and followers.
        You can exchange likes & followers manually using this app.</p>
      <button class="button">Open Tool</button>
    </div>
    <div class="last_line">
      If you have any suggestions, new tools requests, or bugs, please contact us.
    </div>

  </div>
</section>