#main{
    margin-top: 10rem;
}
.tools{
    border-radius: 50%;
height: 200px;
width: 200px;
background-color: blue;
color: pink;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}
