<!-- Header Section -->
<header #header class="header" id="header">
    <nav class="navbar container">
      <a href="#" class="brand">
        <img style="height: 50px;" src="../../../../../assets/images/logo.png" />
      </a>
      <div #burger class="burger" id="burger" (click)="showBurger()">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </div>
      <div #menu class="menu" id="menu">
        <ul class="menu-inner">
          <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
          <li class="menu-item"><a href="#" class="menu-link">Feature</a></li>
          
          <li class="menu-item"><a routerLink="about" class="menu-link">About US</a></li>
          <li class="menu-item"><a routerLink="contactus" class="menu-link">Contact US</a></li>
        </ul>
      </div>
      <!-- <a href="#" class="menu-block">Discover</a> -->
    </nav>
  </header>