header{
    background-color: var(--color-primary);
    
   
}
.burger-line{
    width: 30px;
  height:3px;
  background-color: white ;
  margin: 6px 0;
}
.dropdown-menu{
  background-color: var(--color-primary);
  .menu-item{
    color:#ffffff !important;
  }
}